<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <title>${server-name} » ${channel-name} » ${discussion-subject}</title>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/">${server-name}</a>
      » <a href="/channels">Channels</a>
      » <a id="channel" href="/channels/">${channel-name}</a>
      » <a id="discussions" href="/channels/${channel-id}/discussions">Discussions</a>
      » ${discussion-subject}
    </nav>
  </h1>
</header>

<ul>
  <li><a id="messages" href="/channels/${channel-id}/discussions/${discussion-id}/messages">Messages</a></li>
</ul>

</body>
</html>
