<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${server-name} » All@Arc » VPN Issues » Message ${message-id} from Joel Potischman</title>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/"><span class="server-name">${server-name}</span></a>
      » <a href="/groups">Groups</a>
      » <a href="/groups/all-at-arc">All@Arc</a>
      » <a href="/groups/all-at-arc/topics">Topics</a>
      » <a href="/groups/all-at-arc/topics/vpn-issues">VPN Issues</a>
      » <a href="/groups/all-at-arc/topics/vpn-issues">Messages</a>
      » Message <span class="message-id">{{message_id}}</span> from Joel Potischman
    </nav>
  </h1>
</header>

<article class="message">
  <header>
    <section><a href="/groups/all-at-arc/topics/vpn-issues/messages/1">Message <span class="message-id">{{message_id}}</span></a></section>
    <section>From: <a href="/people/joel-potischman">Joel Potischman</a></section>
    <section>Date: Friday, 12 April, 2013 at 11:21</section>
  </header>

  <pre>
    Adding 172.17.100.10 to DNS resolves it.

    Network -> Arc VPN -> Advanced -> DNS -> DNS Server -> + -> 172.17.100.10 -> OK -> Apply

    That's all I know about the situation.
  </pre>
</article>

<nav><a href="./2" rel="next">Next Message</a></nav>

</body>
</html>
