<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${server-name} » ${group-name} » ${discussion-name} » Message {message-id} from Joel Potischman</title>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/">${server-name}</a>
      » <a href="/groups">Groups</a>
      » <a id="group" href="/groups/">${group-name}</a>
      » <a id="discussions" href="/groups/${group-id}/discussions">Discussions</a>
      » <a id="discussion" href="/groups/all-at-arc/discussions/vpn-issues">${discussion-name}</a>
      » <a id="messages" href="/groups/all-at-arc/discussions/vpn-issues">Messages</a>
      » Message from <span id="username">Joel Potischman</span> on <span class="message-date">2013-06-02T19:30:47Z</span>
    </nav>
  </h1>
</header>

<article class="message">
  <header>
    <section>From: <a id="user" href="/people/joel-potischman">Joel Potischman</a></section>
    <section>Date: <span class="message-date">2013-06-02T19:30:47Z</span></section>
  </header>

  <pre>
    Adding 172.17.100.10 to DNS resolves it.

    Network -> Arc VPN -> Advanced -> DNS -> DNS Server -> + -> 172.17.100.10 -> OK -> Apply

    That's all I know about the situation.
  </pre>
</article>

<!-- TODO <nav><a href="./2" rel="next">Next Message</a></nav> -->

</body>
</html>
