<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${server-name} » Channels</title>
    <style>
      label {
        display: block;
      }

      fieldset {
        margin: 0.5em 0;
      }
    </style>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/">${server-name}</a>
      » Channels
    </nav>
  </h1>
</header>

<ul id="channels">
  <li><a href="/channels/cheese">Cheese</a></li>
</ul>

<form action="./channels" method="POST">
  <legend>Create a new channel</legend>
  <label>Name:
    <input type="text" name="name" id="name" required>
  </label>
  <label>Participants:
    <input type="text" name="participants" required>
  </label>

  <fieldset>
    <legend>Access Control</legend>

    <label>
      <input type="radio" name="access_control" value="all-users" checked required> All users of ${server-name}
    </label>

    <label>
      <input type="radio" name="access_control" value="participants-and-admins" required> Participants and administrators
    </label>
  </fieldset>

  <button type="submit">Create Channel</button>
</form>

</body>
</html>
