<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${server-name} » ${group-name} » Discussions</title>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/">${server-name}</a>
      » <a href="/groups">Groups</a>
      » <a id="group" href="/groups/">${group-name}</a>
      » Discussions
    </nav>
  </h1>
</header>

<ul id="discussions">
  <li><a href="/groups/${group-id}/discussions/${discussion-id}">Some discussion</a></li>
</ul>

<form action="./discussions" method="POST">
  <legend>Create a new discussion</legend>
  <input type="text" name="name" id="name" required>
  <input type="hidden" name="group-id" id="group-id" value="${group-id}"/>
  <button type="submit">Create Discussion</button>
</form>

</body>
</html>
