<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>${server-name} » ${channel-name} » Discussions</title>
  <style>
    label {
      display: block;
    }
  </style>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/">${server-name}</a>
      » <a href="/channels">Channels</a>
      » <a id="channel" href="/channels/">${channel-name}</a>
      » Discussions
    </nav>
  </h1>
</header>

<ul id="discussions">
  <li><a href="/channels/${channel-id}/discussions/${discussion-id}">Some discussion</a></li>
</ul>

<form action="./discussions" method="POST">
  <legend>Create a new discussion</legend>
  <label>Subject
    <input type="text" name="subject" id="subject" required>
  </label>
  <label>Initial Message Body (optional)
    <textarea name="body" id="body"></textarea>
  </label>
  <input type="hidden" name="channel-id" id="channel-id" value="${channel-id}"/>
  <button type="submit">Create Discussion</button>
</form>

</body>
</html>
