<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>${server-name} » ${channel-name} » ${discussion-subject} » Messages</title>
  <style>
    label {
      display: block;
      margin: 1em 0;
    }
    textarea {
      width: 20em;
      height: 5em;
    }
  </style>
</head>
<body>

<header>
  <h1>
    <nav>
      <a href="/">${server-name}</a>
      » <a href="/channels">Channels</a>
      » <a id="channel" href="/channels/">${channel-name}</a>
      » <a id="discussions" href="/channels/${channel-id}/discussions">Discussions</a>
      » <a id="discussion" href="/channels/${channel-id}/discussions/${discussion-id}">${discussion-subject}</a>
      » Messages
    </nav>
  </h1>
</header>

<article class="message">
  <header>
    <section><a id="message" href="/channels/all-at-arc/discussions/vpn-issues/messages/1">Message <span id="message-number">1</span></a></section>
    <section>From: <a id="user" href="/people/joel-potischman">Joel Potischman</a></section>
    <section>Date: <span id="date">Friday, 12 April, 2013 at 11:21</span></section>
  </header>

  <pre>
    Adding 172.17.100.10 to DNS resolves it.

    Network -> Arc VPN -> Advanced -> DNS -> DNS Server -> + -> 172.17.100.10 -> OK -> Apply

    That's all I know about the situation.
  </pre>
</article>

<!-- TODO <nav id="page" data-page-number="1" data-total-pages="1" data-per-page="20">Page 1 of 1</nav> -->

<form action="./messages" method="POST">
  <legend>Post a new message to this discussion</legend>
  <label>Body:
    <textarea name="body" id="body" required></textarea>
  </label>
  <label>User ID:
    <input name="user_id" required>
  </label>
  <button type="submit">Post Message</button>
</form>

</body>
</html>
